*{
  color: white;
}
body{
  background-color: white;
}
input.form-group {
    width: 100%;
    height:40px;
    margin-top:2rem;
    border-radius: 5px;
    box-shadow: 0px;
}
textarea.form-group {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
input.submit{
    width: 50%;
    height: 40px;
    background-color: #1b4a77;
    font-weight: bold;
    box-shadow: 0px;
    margin-left:25%;
    border-radius: 5px;	
}
input.submit:hover{
	background-color: #2378ca;
}
.contact-title{
	text-align: center;
}
.contact-content{
	font-size: 20px;
}
.map{
	width:100%;
	height:550px !important;
	margin-top:3rem;
	
}

.direction{
	margin-top: 3rem;
	font-size: 20px;

}
.icon-box{
	height:50px;
	width: 50px;
	border-radius: 50%;
	border:1px solid white;
	float: left;
	margin-right:1rem;
	position: relative;
		top:25%;
		left: 25%
}
.icon{
	color: dodgerblue;
	font-size: 25px;
	margin-top:25%;
	text-align: center;
	margin-left:25%;

}

.icon-box:hover{
	background-color: white;
}
.number{
	height: 50px;
	width: 50px;
	clear:left;
	position: relative;
		top: 40%;
		left:25%;
}
i.fa.fa-phone.phone-icon{
	position: relative;
    top: -13%;
    color: white;
	text-align: center;
	margin-left:25%;
	font-size: 20px;

}