body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("../images/images.jpg");
  
  /* the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 1000px; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(100,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
 /* border: 0px solid #f1f1f1;*/
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
 /* border-radius: 5px;*/
}
h1{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5rem;
  margin-top:5rem;
}
 a {
    font-size: 25px;
    text-align: center;
    color: white;
    text-decoration:none;
    background-color: #4d0d07;
    height: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 2rem;
    border-radius: 5px;
  } 
  a:hover{
    background-color:#976154;
    color: #4d0d07 ;
    text-decoration:none;
  }
.demo-button{
  position: absolute;
  top:52%;
  left:50%;
  
    
}