*{
	font-family: sans-serif;

}
 body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      background-color:#111109 !important;
  }
  nav.navbar.navbar-expand-lg {
    background-color: #4d0000;
    border-radius: 5px;
}
a.navbar-brand{
  border-radius: 5px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
a.nav-item.nav-link.active {
    border-radius: 5px;
}
a.nav-item.nav-link{
    border-radius: 5px;
}

.navbar a:hover {
  background: #660000;
  color:white;
  font-weight: bold;
}
.nav-link.active{
  background-color: #660000;

}
i.fas.fa-gift{
  font-size: 35px;
  color: grey;
  margin-top: -1rem;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}
.carousel-img{
  width:100%;
  height: auto;
}

.feature-img{
  width:100%;
  height: 330px;
}

.description{
  margin-top:3rem;
  color:white;
  font-weight: bold;
  text-align: justify;
}
.description-title{
  text-align: center;
  margin-top:3rem;
  color:white;
  font-weight: bold;

}
a.reward-link{
  text-decoration: none !important;
  color:white !important;
}
footer{
  height:70px;
  background-color:#4d0000;
  color: white;
  margin-top:8rem;
}

.footer-content{
  margin-top:20px;
  text-align: center;
}


}
#home{
  color:white;
}
#contact{
  color:white;
}
#about{
  color:white;
}

.div-icon{
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 3px 0;
}

button.btn{
    margin-top: 20px;
    background-color: #4d0000;
    color: white;
    font-weight: bold;

}
.btn.focus, .btn:focus, .btn:hover {
    color: white !important;
    text-decoration: none;
    background-color:#990000;
}

a#home {
    color: white;
}
div.arrow {
    position: fixed;
    top: 95%;
    width: 2%;
    height: 6%;
    margin-bottom: 2rem;

}
i.fa.fa-arrow-up {
    color: red;
    font-weight: bolder;  
}
button.footer-button{
  font-size: 24px;
}
button{
  background-color: gray;
}